In [3]:
# Add the dependencies.
import pandas as pd
import os

In [4]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [8]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [23]:
# Read the school data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
!cd

C:\Users\Asus\OneDrive\Escritorio\School_District_Analysis

In [10]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	PyCitySchools.ipynb
	Resources/
	pandas_practice.ipynb

nothing added to commit but untracked files present (use "git add" to track)

In [11]:
!git add PyCitySchools.ipynb Resources/

warning: LF will be replaced by CRLF in PyCitySchools.ipynb.
The file will have its original line endings in your working directory
warning: LF will be replaced by CRLF in Resources/schools_complete.csv.
The file will have its original line endings in your working directory
warning: LF will be replaced by CRLF in Resources/students_complete.csv.
The file will have its original line endings in your working directory

In [18]:
!git config --global user.email "luis_adrian_1998@hotmail.com"
!git config --global user.name "Luis98mp"

In [19]:
!git commit -m "Adding PyCitySchools.py file and Resources folder."

[main 34d04de] Adding PyCitySchools.py file and Resources folder.
 3 files changed, 39388 insertions(+)
 create mode 100644 PyCitySchools.ipynb
 create mode 100644 Resources/schools_complete.csv
 create mode 100644 Resources/students_complete.csv

In [20]:
!git push

To https://github.com/Luis98mp/School_District_Analysis.git
   fe5a88a..34d04de  main -> main

In [21]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [24]:
# Determine if there are any missing values in the school data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [25]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [26]:
# Determine if there are any missing values in the student data.
student_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [27]:
# Determine if there are any missing values in the school data.
school_data_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [29]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [31]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [32]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [33]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [34]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

<ipython-input-34-d1e003a410f5>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [35]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [36]:
!dir

 El volumen de la unidad C es OS
 El nÃºmero de serie del volumen es: B0C4-76AF

 Directorio de C:\Users\Asus\OneDrive\Escritorio\School_District_Analysis

14/07/2021  01:45 a. m.    <DIR>          .
14/07/2021  01:45 a. m.    <DIR>          ..
13/07/2021  10:07 p. m.             1,928 .gitignore
14/07/2021  12:49 a. m.    <DIR>          .ipynb_checkpoints
14/07/2021  12:37 a. m.            17,083 cleaning_data.ipynb
14/07/2021  01:39 a. m.         1,447,636 cleaning_student_names.ipynb
13/07/2021  11:16 p. m.            11,129 pandas_practice.ipynb
14/07/2021  01:45 a. m.            33,842 PyCitySchools.ipynb
13/07/2021  10:07 p. m.                83 README.md
14/07/2021  12:27 a. m.    <DIR>          Resources
               6 archivos      1,511,701 bytes
               4 dirs  372,418,760,704 bytes libres

In [37]:
!cd

C:\Users\Asus\OneDrive\Escritorio\School_District_Analysis

In [38]:
!git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   PyCitySchools.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	Resources/missing_grades.csv
	cleaning_data.ipynb
	cleaning_student_names.ipynb
	pandas_practice.ipynb

no changes added to commit (use "git add" and/or "git commit -a")